body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  display: block;
}

.title {
  background: #e3f4ff;
  border: 8px solid white; 
  font-size: 18px;
  padding:8px;
}

.content {
  background: #e3f4ff;
  border: 8px solid white;
  margin-top: -20px;
  padding: 12px 6px 12px 6px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  border: 8px solid white;
  margin-top: -10px;
  padding: 10px;
  position: relative;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  margin: 0 auto;
  padding: 8px 20px 8px 20px;
}